<div class="top-panel box">
  <div class="top-panel-title">
    <strong class="mr10">80mm Circles (6)</strong>
    <span class="fs-extra-small">A4 sheet</span>
  </div>
  <div class="top-panel-tools">
    <button data-toggle="tooltip" data-placement="top"><i class="icon-Undo"></i><span class="tooltip">Undo</span></button>
    <button data-toggle="tooltip" data-placement="bottom"><i class="icon-Redo"></i><span class="tooltip">Redo</span></button>
    <button data-toggle="tooltip" data-placement="top"><i class="icon-Reset"></i><span class="tooltip">Reset</span></button>
    <button data-toggle="tooltip" data-placement="bottom"><i class="icon-Zoom"></i><span class="tooltip">Zoom In</span></button>
    <button data-toggle="tooltip" data-placement="top"><i class="icon-Rotate"></i><span class="tooltip">Rotate</span></button>
    <button data-toggle="tooltip" data-placement="bottom"><i class="icon-View"></i><span class="tooltip">Preview</span></button>
    <button data-toggle="tooltip" data-placement="top" class="btn-share"><i class="icon-Share"></i> Share <span class="tooltip">Share</span></button>
  </div>
</div>